@model VCCI.DAL.Quota

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Quota</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CreatedBy)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreatedBy)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LastModifiedBy)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastModifiedBy)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CreatedAt)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreatedAt)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LastModifiedAt)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastModifiedAt)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
