@model VCCI.Models.QuotaModel

@{
    ViewBag.Title = "Edit";
}

<h2>Chỉnh sửa</h2>
<br />
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Quota</legend>

        @Html.HiddenFor(model => model.ID)

        <div class="editor-label">
            @Html.LabelFor(model => model.Title, "Tiêu đề")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description, "Mô tả chi tiết")
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Description, 10, 10, "")
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CreatedBy, "Người tạo")
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.CreatedBy, new { @readonly = "readonly"})
            @Html.ValidationMessageFor(model => model.CreatedBy)
        </div>

		<div class="editor-label">
			@Html.LabelFor(model => model.SelectedDepartment, "Phòng ban")
		</div>
		<div class="editor-field">
			@Html.DropDownListFor(model => model.SelectedDepartment, new SelectList(Model.Departments, "Value", "Text", Model.SelectedDepartment))
		</div>

        @*<div class="editor-label">
            @Html.LabelFor(model => model.CreatedAt, "Thời gian tạo")
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.CreatedAt, new { @readonly = "readonly" })
            @Html.ValidationMessageFor(model => model.CreatedAt)
        </div>*@

        <p>
            <input type="submit" value="Lưu lại" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Trở lại danh sách", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
